.root { width: 100%; flex: initial; padding: 0; border: 0; background: transparent; }
.root > div:last-child { overflow: visible; }
.heading { display: flex; gap: 7px; align-items: center; padding: 14px 6px 9px; font-size: 12px; font-weight: 600; }
.root { max-height: none; }
